# Mainnet Alchemy URL
MAINNET_RPC_URL="https://eth-mainnet.alchemyapi.io/v2/<ALCHEMY_MAINNET_KEY>"

# Ropsten Alchemy URL, used for Testnet deployments
ROPSTEN_RPC_URL="https://eth-ropsten.alchemyapi.io/v2/<ALCHEMY_ROPSTEN_KEY>"

# Mnemonic, first address will be used for deployments
MNEMONIC='copy here your mnemonic words'

# Etherscan API - for contract verification
ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
